@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #111827;
  /* background-color: #000000; */
}
input:focus,
.form-control,
.form-select:focus {
  /* outline: none !important; */
  box-shadow: none !important;
}
