.alert-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.alert-box {
  background: white;
  padding: 45px 50px;
  border-radius: 15px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  text-align: center;
  position: absolute;
  animation: fadeIn 0.15s ease;
}

.alert-box p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.alert-box button {
  background-color: #01365E;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 25px;
  cursor: pointer;
  transition: 0.3s;
}

.alert-box button:hover {
  background-color: #537d9e;
}

@keyframes fadeIn {
  from {
    transform: scale(0);
    transform: translateY(500px);
    opacity: 0;
  }
  to {
    transform: scale(1);

    opacity: 1;
  }
}
