.passwordeye1 {
  top: -51px;
  left: 250px;
  cursor: pointer;
}
.passwordeye2 {
  top: 23px;
  left: 250px;
  cursor: pointer;
}
#registerbtn {
  background-color: #01365E;
}
#registerbtn:hover {
  background-color: #537d9e;
}
